body{
    background: #ededf1;
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.scroll {
    overflow-y: auto;
}

.fa-success {
    color: rgb(47, 255, 64);
}

.fa-failure {
    color: rgb(255, 47, 75);
}